* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 7px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aca9a9;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

#container-body #nav-bar {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: #00b19d;
}

#container-body #nav-bar img {
  color: white;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#container-body #container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: calc( 100% - 3rem);
}

#container-body #container-main #index {
  width: 4rem;
  background-color: white;
}

#container-body #container-main #index .circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: gray;
  border-radius: 100%;
  margin: 0.7rem;
  color: white;
  text-align: center;
  line-height: 1.7;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

#container-body #container-main #index .circle:hover {
  cursor: pointer;
}

#container-body #container-main main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #e8ebf0;
  overflow-y: auto;
}

#container-body #container-main main #section-search {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-body #container-main main #section-search small {
  margin: 0.8rem;
  color: gray;
}

#container-body #container-main main #section-search #ad {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

#container-body #container-main main #section-search #ad:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#container-body #container-main main #section-search button {
  width: 3.2rem;
  height: 2.6rem;
  border: none;
  border-radius: 3px;
  margin-right: 0.1rem;
  background-color: #007E70;
}

#container-body #container-main main #section-search button img {
  width: 2rem;
  height: 2rem;
}

#container-body #container-main main #section-search input {
  border: 1px solid #809bb6;
  border-radius: 3px;
  width: 80%;
  height: 2.6rem;
  padding-left: 1rem;
}

#container-body #container-main main #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-body #container-main main #content article {
  position: relative;
  width: 12rem;
  height: 18rem;
  background-color: white;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#container-body #container-main main #content article small {
  color: gray;
}

#container-body #container-main main #content article div {
  line-height: 2;
}

#container-body #container-main main #content article img {
  width: 11rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#container-body #container-main main #content article button {
  padding: 0.5rem;
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
}

#container-body #container-main main #content article .code {
  width: 3rem;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: gray;
}

#container-body #container-main main #content article .inv {
  width: 3rem;
  background-color: white;
  position: absolute;
  bottom: 5.5rem;
  right: 0.5rem;
  color: black;
}

#container-body #container-main main #content article .star {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.8rem;
  background-color: white;
  color: gray;
  position: absolute;
  top: 1.6rem;
  right: 0.5rem;
  line-height: 0.9;
}

#container-body #container-main main #content article .n-circle {
  width: 2rem;
  height: 2rem;
  line-height: 2;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

#container-body #container-main #shop {
  position: relative;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  height: 100%;
}

#container-body #container-main #shop h2 {
  background-color: #809bb6;
  color: white;
  padding-top: 0.8rem;
  height: 3rem;
  text-align: center;
}

#container-body #container-main #shop #section-shop {
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 10.5rem);
}

#container-body #container-main #shop #section-shop #date-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container-body #container-main #shop #section-shop #date-client article {
  width: 45%;
  height: 4rem;
  margin: 0.5rem;
}

#container-body #container-main #shop #section-shop #date-client article input {
  border: none;
  outline: none;
  border-bottom: 2px solid #e8ebf0;
  height: 3rem;
  width: 100%;
}

#container-body #container-main #shop #section-shop #date-product article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  line-height: 3;
}

#container-body #container-main #shop #section-shop #date-product article div {
  width: 14rem;
  line-height: 1.5;
}

#container-body #container-main #shop #section-shop #date-product article span {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #809bb6;
  line-height: 2;
  margin-top: 0.3rem;
}

#container-body #container-main #shop #section-shop #date-product article .btn {
  border-radius: 100%;
  margin-top: 0.3rem;
  width: 2rem;
  height: 2rem;
  border: none;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

#container-body #container-main #shop #section-shop #date-product article button {
  font-size: 1.4rem;
  margin-top: 0.4rem;
  width: 1.7rem;
  height: 2rem;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

#container-body #container-main #shop #section-shop #date-product article button img {
  width: 1.5rem;
  height: 1.5rem;
}

#container-body #container-main #shop #section-shop #date-product article button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#container-body #container-main #shop footer {
  position: relative;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  color: white;
}

#container-body #container-main #shop footer #title-footer {
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  background-color: #00b19d;
}

#container-body #container-main #shop footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #809bb6;
  margin-top: 0.5rem;
}

#container-body #container-main #shop footer div a {
  width: 4rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

#container-body #container-main #shop footer div h4 {
  margin: 1rem;
}

.border {
  border: 1px solid #5e65eb;
}
/*# sourceMappingURL=style.css.map */