
$fond: #e8ebf0
$box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3)

*
    margin: 0
    padding: 0
    font-family: Arial, Helvetica, sans-serif
    box-sizing: border-box

html, body
    height: 100%
    margin: 0
    padding: 0

#container-body

    display: flex
    flex-flow: column
    height: 100%

    #nav-bar
        width: 100%
        height: 3rem
        background-color: #00b19d

    #container-main
        display: flex
        flex-flow: row
        height: calc( 100% - 4rem )
        
        #index

            background-color: white

            .circle
                width: 2.5rem
                height: 2.5rem
                background-color: gray
                border-radius: 100%
                margin: 0.5rem

        main
            flex: 1
            background-color: $fond
            overflow-y: auto

            #section-search
                height: 3rem
                display: flex
                justify-content: center 
                padding-top: 1rem


                button
                    width: 3.2rem
                    height: 2.6rem    
                    border: none
                    border-radius: 3px
                    margin-right: 0.1rem
                    background-color: #007E70

                    img
                        width: 2rem
                        height: 2rem
                    
                input
                    border: 1px solid #809bb6
                    border-radius: 3px
                    width: 35vw
                    height: 2.6rem
                    padding-left: 1rem

            #content
                display: flex
                flex-wrap: wrap
                justify-content: center

                article
                    width: 15rem
                    height: 22rem
                    background-color: white
                    margin-top: 2rem
                    margin-left: 3.5rem 
                    margin-right: 3.5rem
                    border-radius: 5px
                    box-shadow: $box-shadow
                    text-align: center

                    img
                        width: 15rem
                        height: 15rem
                        object-fit: cover

                    button
                        padding: 0.5rem
                        background-color: blue
                        border: none
                        border-radius: 4px
                        color: white

        #shop
            flex: 0.5
            height: 100%

            h2
                background-color: #809bb6
                color: white
                padding-top: 0.8rem
                height: 3rem
                text-align: center

            #section-shop
                height: 80%

                #date-client
                    display: flex
                    flex-wrap: wrap

                    article
                        width: 45%
                        height: 4rem
                        margin: 0.5rem
                        
                        input 
                            border: none
                            outline: none
                            border-bottom: 2px solid #e8ebf0
                            height: 3rem
                            width: 100%
            
                #date-product

                    article 
                        height: 4rem
                        padding: 0.5rem
                        border: 1px solid red
                   

            footer
                position: absolute
                bottom: 0
                background-color: #f5f5f5
                padding-bottom: 1rem
                display: flex
                flex-flow: column
                width: 32%
                color: white
            
                #title-footer
                    padding: 1rem
                    margin-left: 0.5rem
                    margin-right: 0.5rem
                    border-radius: 4px
                    background-color: #00b19d

                div
                    display: flex
                    justify-content: space-between
                    
                    background-color: #809bb6
                    margin-top: 0.5rem

                    a
                        width: 4rem
                        padding: 0.5rem
                        text-decoration: none
                        color: white
                    h4
                        margin: 1rem

                    
                        
